<h3>El Gestor Academico ha revisado su reporte. </h3>


<p>
  El Gestor Academico ha revisado su reporte y lo ha <b> <%= @status %>  </b> en la actividad
  <b>"<%= @activity.activity %></b>" del proyecto de
  investigacion <b>  <%= @activity.agreement_research_project.name %> </b>.
  En caso de que considere que la respuesta fue incorrecta porfavor contatese al correo
  siciud-cidc@correo.udistrital.edu.co
</p>


