<h3>El investigador ha subido un nuevo progreso </h3>


<p>
  El investigador a subido un nuevo progreso en la actividad "<%= @activity.activity %>" del proyecto de
  investigacion  <b> "<%= @activity.agreement_research_project.name %>"  </b>. del convenio  <b>. "<%= @activity.agreement_research_project.agreement.name %>"  </b>. por favor <b> apruebe o rechace  el avance de la actividad </b>.
</p>


