<h1>El investigador a subido un nuevo progreso </h1>


<p>
  El investigador a subido un nuevo progreso en la actividad "<%= @greeting.activity %>" del proyecto de
  investigacion  <%= @greeting.agreement_research_project.name %> <b>por favor apruebe o rechace  el avance de la actividad </b>.
</p>


