<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<p>
  Cordial saludo, <br> <br>
  El presente correo tiene como finalidad validar el correcto funcionamiento del servicio de notificaciones del
  SICIUD v2. <br><br><br><br>
</p>
<p>
  Cordialmente, <br><br>
  Notificaciones Sistema de Información SICIUD V2<br>
  Centro de Investigaciones y Desarrollo Científico<br>
  Universidad Distrital Francisco José de Caldas<br>
</p>
</body>

</html>