<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <style>
    /* Email styles need to be inline */
  </style>
</head>

<body>
<%= yield %>
<p> Cordialmente: <br>
  <br>
  <img src="http://cidc.udistrital.edu.co/web/templates/cidcud/images/logo_CIDC.png" width="400"> <br>
  <br>
  Administrador Sistema de Información SICIUD<br>
  Centro de Investigaciones y Desarrollo Científico<br>
  Universidad Distrital Francisco José de Caldas<br>
  PBX: 3239300 - Ext: 1331<br>


</p>
</body>
</html>
